{% extends 'core/base.html' %}

{% block content %}
    <a href="{% url 'create_p' %}"><button style="margin: 20px;">добавить новых участников</button></a>
    <a href="{% url 'create_v' %}"><button style="margin: 20px;">добавить новое место</button></a>
    <a href="{% url 'create_c' %}"><button style="margin: 20px;">добавить новую категорию</button></a>

    {% if form.errors %}
      <ul class="errorlist">
        {% for field_errors in form.errors.values %}
          {% for error in field_errors %}
            <li>{{ error }}</li>
          {% endfor %}
        {% endfor %}
      </ul>
    {% endif %}

    <form method="POST" action="{% url 'create_e' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Создать">
    </form>

{% endblock %}