{% extends 'core/base.html' %}

{% block content %}
<h3>Название мероприятия: {{event}}</h3>
<h3>Категория мероприятия: {{event.category}}</h3>
<h3>Описание мероприятия: {{event.description}}</h3>
<h3>Даты мероприятия: {{ event.start_datetime|date:"Y-m-d H:i" }} - {{ event.end_datetime|date:"Y-m-d H:i" }}</h3>
<h3>Адрес мероприятия: {{event.venue.address}}</h3>
<h3>Количество участников: {{event.participants.count}}</h3>

<br>
<h3>Список участников</h3>
<form method="GET">
	<input name="search">
	<input type="submit" value="поиск">
</form>
    <table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Имя Фамилия</th>
			<th>e-mail</th>
			<th>телефон</th>
			<th>удалить</th>
		</tr>
	</thead>
	<tbody>
		{% for participant in participants %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td>{{ participant.first_name }} {{ participant.last_name }}</td>
				<td>{{ participant.email }}</td>
				<td>{{ participant.phone }}</td>
				<td>
					<form method="post" action="{% url 'delete_participant' event_id=event.id participant_id=participant.id %}">
						{% csrf_token %}
						<button type="submit">X</button>
					</form>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
