{% extends 'core/base.html' %}

{% block content %}
    <table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th><a href="{% url 'info' %}?sort=name">Название мероприятия</a></th>
			<th><a href="{% url 'info' %}?sort=start_datetime">Дата нач.</a></th>
			<th>Дата кон.</th>
			<th>Адресс</th>
			<th>Категория</th>
			<th>Удаление</th>
		</tr>
	</thead>
	<tbody>
		{% for event in events %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td><a href="{% url 'i_event' id=event.id %}">{{event}}</a></td>
				<td>{{ event.start_datetime|date:"Y-m-d H:i" }}</td>
				<td>{{ event.end_datetime|date:"Y-m-d H:i" }}</td>
				<td>{{event.venue.address}}</td>
				<td>{{event.category}}</td>
				<td>
					<form method="post" action="{% url 'delete_event' id=event.id %}">
						{% csrf_token %}
						<button type="submit">X</button>
					</form>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
