{% extends 'core/base.html' %}

{% block content %}
    <h3 style="text-align:center">Список мест</h3>

    <ul>
    {% for venue, event_dates in venue_events.items %}
      <li><h4>Название: {{ venue }} </h4>
          <h4>Адрес: {{ venue.address }} </h4>
          <h4>Вместимость: {{ venue.capacity }} </h4>
          <h5>Бронь: {{ event_dates|join:", " }}</h5>
            <br>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

